ul,
figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
article h1 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #21759b;
}
u {
  color: inherit;
}
h1.title {
  font-family: "Hiragino Sans GB", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f9f9f9;
  margin: 0;
  font: 16px sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #444;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}
.entry {
  box-sizing: border-box;
  padding-top: 1.5rem;
  font-size: 0.9375rem;
}
.entry ul {
  -webkit-padding-start: 40px;
}
.entry img {
  max-width: 100%;
}
.entry blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.4em;
  margin: 1.6em 20px;
  text-align: center;
}
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 780px;
  margin: 0 auto;
}
.post-detail {
  padding: 0 40px;
  line-height: 1.75em;
}
article {
  padding: 18px 40px;
}
article.list-view:nth-child(odd) {
  background-color: #fafafa;
}
.post-list-cell-container {
  overflow: auto;
  position: relative;
}
.post-title-container {
  max-width: 80%;
  float: left;
  line-height: 1.4em;
}
.post-date-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  float: right;
}
.list-view h1 {
  font-size: 16px;
}
.list-view h1 a {
  color: #4a4a4a;
}
.list-view .subtitle {
  font-size: 12px;
  color: #9b9b9b;
}
.entry-title {
  font-weight: normal;
}
.entry-content {
  line-height: 1.8;
}
footer.entry-meta {
  margin-top: 8px;
  font-size: 12px;
  color: #9e9e9e;
  line-height: 1.5em;
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.cover-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.site-wrapper-inner {
  vertical-align: middle;
  display: table-cell;
}
.masthead,
.mastfoot {
  max-width: 960px;
  position: relative;
}
.outer {
  width: 960px;
  max-width: 100%;
  position: fixed;
}
.masthead .outer {
  top: 0;
}
.mastfoot .outer {
  bottom: 0;
}
.inner-cover {
  max-width: 442px;
  margin: auto;
  text-align: center;
  font-family: Georgia, "Times New Roman", serif;
}
.inner-cover h1,
.inner-cover h2 {
  margin: 0;
  color: #515151;
}
.inner-cover h1 {
  font-size: 36px;
}
.inner-cover h2 {
  font-weight: normal;
  font-size: 18px;
}
.inner-cover p {
  margin-top: 24px;
  margin-bottom: 40px;
  color: #000;
  line-height: 1.5em;
}
.inner-cover p a {
  color: inherit;
}
.inner-cover ul {
  font-size: 14px;
  color: #000;
}
.inner-cover li {
  margin: 0 30px 0 0;
  display: inline-block;
}
.inner-cover li a {
  color: inherit;
}
.inner-cover li:nth-last-child(1) {
  margin-right: 0;
}
ul.main-navigation {
  padding-right: 40px;
  max-width: 960px;
  margin: auto;
  margin-top: 36px;
  text-align: right;
  font: 12px Georgia, "Times New Roman", serif;
  line-height: 1.5em;
}
ul.main-navigation li {
  margin-right: 16px;
}
ul.main-navigation li:nth-last-child(1) {
  margin-right: 0;
}
ul.main-navigation u {
  color: #9b9b9b;
}
@media screen and (max-width: 480px) {
  ul.main-navigation {
    text-align: center;
    padding-right: 0;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
.site-header h1,
.site-header h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", serif;
}
h1.title {
  font-size: 26px;
  line-height: 30px;
}
.site-header h1 a {
  color: #515151;
  display: inline-block;
  text-decoration: none;
}
header h2 {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.4;
  color: #757575;
}
nav {
  margin-top: 24px;
}
.main-navigation ul {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
}
.main-navigation li {
  margin: 0 40px 0 0;
  display: inline-block;
}
.main-navigation li a {
  color: inherit;
}
header.site-header {
  padding: 36px 40px;
}
@media screen and (max-width: 480px) {
  header.site-header {
    text-align: center;
  }
  .site-header h2 {
    margin-top: 4px;
  }
}
.footer {
  max-width: 960px;
  margin: auto;
  padding: 36px 40px;
  line-height: 1.5em;
  font-family: Helvetica Neue;
  font-size: 12px;
  color: #666;
}
.footer .align-left {
  float: left;
}
.footer .align-right {
  float: right;
}
.footer a {
  color: inherit;
}
@media screen and (max-width: 480px) {
  .footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .footer .align-left,
  .footer .align-right {
    float: none;
  }
  .footer p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #474949;
  color: #d1d9e1;
}
.highlight .comment,
.highlight .quote {
  color: #969896;
  font-style: italic;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .literal,
.highlight .type,
.highlight .addition {
  color: #c9c;
}
.highlight .number,
.highlight .selector-attr,
.highlight .selector-pseudo {
  color: #f99157;
}
.highlight .string,
.highlight .doctag,
.highlight .regexp {
  color: #8abeb7;
}
.highlight .title,
.highlight .name,
.highlight .section,
.highlight .built_in {
  color: #b5bd68;
}
.highlight .variable,
.highlight .template-variable,
.highlight .selector-id,
.highlight .class .highlight .title {
  color: #fc6;
}
.highlight .section,
.highlight .name,
.highlight .strong {
  font-weight: bold;
}
.highlight .symbol,
.highlight .bullet,
.highlight .subst,
.highlight .meta,
.highlight .link {
  color: #f99157;
}
.highlight .deletion {
  color: #dc322f;
}
.highlight .formula {
  background: #eee8d5;
}
.highlight .attr,
.highlight .attribute {
  color: #81a2be;
}
.highlight .emphasis {
  font-style: italic;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .container {
    margin: 0;
  }
  .post-detail {
    padding: 0 12px;
  }
  .masthead,
  .mastfoot {
    max-width: 960px;
  }
  .outer {
    width: inherit;
    max-width: 100%;
    position: relative;
  }
  .masthead .outer {
    top: none;
  }
  .mastfoot .outer {
    bottom: 0;
  }
  .inner-cover {
    padding: 0 20px;
  }
  article {
    padding: 10px;
  }
  .site-content {
    margin-top: 40px;
  }
  .entry {
    padding-top: 0;
  }
}
